<section class="horizontal-form">
  <div class="container-fluid"></div>
  <div class="over-hr r-mt20 r-mb20">
    <span>Nutanix Prism Central Login details</span>
  </div>

  <div class="row">
    <div class="col span-3 mb-0">
      <label class="form-control-static">Prism Central Host</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.host
        
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Nutanix Prism Central host ip address/FQDN
      </p>
    </div>
    <div class="col span-3 mb-0">
      <label class="form-control-static">Prism Central Port</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.port
        
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Nutanix Prism Central port
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Ignore Certificate Validation</label>
      <div>
        {{input type="checkbox"
            class="form-control"
            checked=cluster.%%DRIVERNAME%%EngineConfig.insecure
            readonly=(not-eq mode "new")
      }}
      </div>
      <p class="help-block">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Prism Central Username</label>
      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.username
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Prism Central Password</label>

      {{input type="password"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.password
           readonly=(not-eq mode "new")
          }}

      <p class="help-block">
      </p>
    </div>
  </div>
  <p></p>
  <div class="over-hr r-mt20 r-mb20">
    <span>Nutanix Karbon details</span>
  </div>

  <div class="row">

    <div class="col span-6 mb-0">
      <label class="form-control-static">CNI Provider</label>
      {{searchable-select class="form-control"
        content=cniProviderChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.cniprovider
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Nutanix Cluster</label>

      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.cluster
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">

      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">VM Network</label>

      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.vmnetwork
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">

      </p>
    </div>
  </div>

  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Karbon Image</label>

      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.image
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Kubernetes Version</label>
      {{searchable-select class="form-control"
        content=versionChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.version
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
  </div>
  <p></p>
  <div class="over-hr r-mt20 r-mb20">
    <span>Karbon CSI Storage Details</span>
  </div>
  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Prism Element User</label>

      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.clusteruser
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Prism Element Password</label>

      {{input type="password"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.clusterpassword
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Storage Container</label>

      {{input type="text"
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.storagecontainer
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Filesystem</label>
      {{searchable-select class="form-control"
          content=filesystemChoices
          value=cluster.%%DRIVERNAME%%EngineConfig.filesystem
          readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-6 mb-0">
      <label class="form-control-static">Reclaim Policy</label>
      {{searchable-select class="form-control"
        content=reclaimPolicyChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.reclaimpolicy
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-6 mb-0">
      <label class="form-control-static">Flash Mode</label>
      <div>
        {{input type="checkbox"
            class="form-control"
            checked=cluster.%%DRIVERNAME%%EngineConfig.flashmode
            readonly=(not-eq mode "new")
      }}
      </div>
      <p class="help-block">
      </p>
    </div>
  </div>
  <p></p>
  <div class="over-hr r-mt20 r-mb20">
    <span>Karbon Infrastructure Details</span>
  </div>
  {{!-- deployment row --}}
  <div class="row">
    <div class="col span-4 mb-0">
      <label class="form-control-static">Deployment Type</label>
      {{searchable-select class="form-control"
          content=deploymentChoices
          value=cluster.%%DRIVERNAME%%EngineConfig.deployment
          readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
  </div>
  {{!-- Amount of Nodes row --}}
  <div class="row">
    {{!-- <div class="col span-4 mb-0">
      <label class="form-control-static"> Amount of Master Nodes</label>
      {{searchable-select
        content=amountOfMasterNodesChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.masternodes
        classNames="form-control"
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div> --}}
    <div class="col span-4 mb-0">
      <label class="form-control-static"> Amount of Master Nodes</label>
      {{searchable-select
        content=amountOfMasterNodesChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.masternodes 
        classNames="form-control"
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static"> Amount of ETCD Nodes</label>
      {{searchable-select
        content=amountOfETCDNodesChoices
        value=cluster.%%DRIVERNAME%%EngineConfig.etcdnodes 
        classNames="form-control"
        readonly=(not-eq mode "new")
      }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static"> Amount of Worker Nodes</label>
      {{input-integer 
        min=1 
        value=cluster.%%DRIVERNAME%%EngineConfig.workernodes 
        classNames="form-control"
      }}
      <p class="help-block">
        Note: Can be modified during Karbon cluster editing
      </p>
    </div>
  </div>
  {{!-- CPU row --}}
  <div class="row">
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master CPU</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.mastercpu
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static">ETCD CPU</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.etcdcpu
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static">Worker CPU</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.workercpu
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
      </p>
    </div>
  </div>
  {{!-- Memory row --}}
  <div class="row">
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master Memory</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.mastermemorymib
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
        in MB
      </p>
    </div>

    <div class="col span-4 mb-0">
      <label class="form-control-static">ETCD Memory</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.etcdmemorymib
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
        in MB
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static">Worker Memory</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.workermemorymib
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
        in MB
      </p>
    </div>
  </div>
  {{!-- Storage row --}}
  <div class="row">
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master Storage</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterdiskmib
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
        in MB
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static">ETCD Storage</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.etcddiskmib
            readonly=(not-eq mode "new")
          }}
      <p class="help-block">
        in MB
      </p>
    </div>

    <div class="col span-4 mb-0">
      <label class="form-control-static">Worker Storage</label>
      {{input-integer 
            min=1
            classNames="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.workerdiskmib
            readonly=(not-eq mode "new")
          }}

      <p class="help-block">
        in MB
      </p>
    </div>
  </div>
  {{!-- Production configuration row --}}
  {{#if (not-eq cluster.%%DRIVERNAME%%EngineConfig.deployment "Development")}}
  <div class="over-hr r-mt20 r-mb20">
    <span>Karbon Production Configuration Details</span>
  </div>
  {{!-- Production VIP row --}}
  <div class="row">
    <div class="col span-3 mb-0">
      <label class="form-control-static">Master VIP IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.mastervipip
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master VIP address
      </p>
    </div>
  </div>
  {{!-- Production master ip row --}}
  {{#if (eq cluster.%%DRIVERNAME%%EngineConfig.deployment 'Production - active/active')}}
  <div class="row">
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master 1 IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterip1
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master 1 ip address
      </p>
    </div>
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master 2 IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterip2
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master 2 ip address
      </p>
    </div>
  </div>
  {{#if visibleCheckMasterIp3}}
  <div class="row">
    {{#if visibleCheckMasterIp3}}
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master 3 IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterip3
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master 3 ip address
      </p>
    </div>
    {{/if}}
    {{#if visibleCheckMasterIp4}}
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master 4 IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterip4
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master 4 ip address
      </p>
    </div>
    {{/if}}
    {{#if visibleCheckMasterIp5}}
    <div class="col span-4 mb-0">
      <label class="form-control-static">Master 5 IP</label>
      {{input type="text"
            required=true
            class="form-control"
            value=cluster.%%DRIVERNAME%%EngineConfig.masterip5
            readonly=(not-eq mode "new")
      }}
      <p class="help-block">
        Kubernetes master 5 ip address
      </p>
    </div>
    {{/if}}
  </div>
  {{/if}}
  {{/if}}
  {{/if}}
  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{save-cancel save="save" cancel=close}}

</section>